.App {
  font-family: sans-serif;
  text-align: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  height: 135px;
  background-color: #374151;
  color: white;
  padding-top: 40px;
  margin-bottom: 50px;
}

header h1 {
  font-size: 40px;
}

h2 {
  margin-bottom: 40px;
}

ul {
  margin-bottom: 30px;
}

button {
  font-size: 18px;
  padding: 15px 20px;
  margin: 10px;
  border: none;
  background-color: #374151;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

li {
  border: 1px solid #374151;
  list-style: none;
  width: 50%;
  margin: 15px auto;
  font-size: 20px;
  padding: 10px 15px;
  text-align: left;
}

#text {
  font-size: 16px;
}

#description {
  font-size: 15px;
  padding-top: 5px;
}
